#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
# Please update these values with your local database credentials
database.default.hostname = localhost
database.default.database = cpc_manager
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------
# Generate key: php spark key:generate

# encryption.key =

#--------------------------------------------------------------------
# JWT Settings (Shield)
#--------------------------------------------------------------------
# These will be generated during shield setup
